.tags-bar {
    display: flex;
    overflow-x: auto;
    gap: 0.5em;
    /* glass effect */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 4px;
    height: 2.8em;
    scrollbar-width: thin;
}

.tag-input {
    width: 7em;
    border-radius: 5px;
    padding: 0.3em;
    border: none;
    text-indent: 0.30em;
    height: 2.5em;
}