:root {
  --theme-color: #d7debd;
  --button-color: #ecd0d3;
  --accent-line-color: #8b5e3c; 
  /* background-color: rgb(184, 133, 184); */
  /* background-color: #a9b89e; */
  /* background-color: #c5b9c2; */
  /* background-color: #3e3e36; */
  /* background-color: #5a5a48; */
  /* background-color: #f4ead5; */
  /* background-color: #db8a83; */
  /* background-color: #9bbf9e; */
}