:root {
  --theme-color: #d7debd;
  --accent-line-color: #8b5e3c; 
  --accent-color: #d6a4a4;
  --button-color: #ecd0d3;
  --hover-btn-color: #f2d6d9;
  --input-color: #000;
  /* background-color: #b885b8; */
  /* background-color: #a9b89e; */
  /* background-color: #c5b9c2; */
  /* background-color: #3e3e36; */
  /* background-color: #5a5a48; */
  /* background-color: #f4ead5; */
  /* background-color: #db8a83; */
  /* background-color: #9bbf9e; */
}