@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  height: 100vh;
  position: fixed;
  background-color: var(--theme-color);
  /* background-color: rgb(184, 133, 184); */
  /* background-color: #a9b89e; */
  /* background-color: #c5b9c2; */
  /* background-color: #3e3e36; */
  /* background-color: #5a5a48; */
  /* background-color: #f4ead5; */
  /* background-color: #db8a83; */
  /* background-color: #9bbf9e; */
}

.separator {
  width: 1px;
  height: 95vh;
  background-color: rgba(130, 130, 130, 0.6);
  margin: 0 1rem;
}

.columns {
  display: flex;
  height: 100vw;
  width: 100vw;
  margin-top: 2rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  margin-left: 3rem;
  height: 85vh;
  flex: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  flex: 1;
  margin: 0 2rem;
}