* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  position: fixed;
}

.columns {
  display: flex;
  height: 100vw;
  width: 100vw;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 5rem;
}
