@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--theme-color);
}

/* Assigned in Login.tsx */
.fixed-root {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--theme-color);
  /* background-color: rgb(184, 133, 184); */
  /* background-color: #a9b89e; */
  /* background-color: #c5b9c2; */
  /* background-color: #3e3e36; */
  /* background-color: #5a5a48; */
  /* background-color: #f4ead5; */
  /* background-color: #db8a83; */
  /* background-color: #9bbf9e; */
}

.separator {
  width: 1px;
  height: 95vh;
  background-color: rgba(130, 130, 130, 0.6);
  margin: 2rem 1rem 0 1rem;
}

.columns {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-column {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 2rem 0 0 3rem;
  height: 100%;
  flex: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  height: 100%;
  flex: 1;
  margin: 3.5rem 2rem 0 2rem;
}

.header-actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.8rem 1.2rem 0.7rem 2.7rem;
  /* background-color: var(--accent-color); */
  top: -5px;
  right: -5px;
  width: fit-content;
  border-radius: 10px;
}

.sign-out-btn {
  background-color: var(--button-color);
  border: #b19c9e solid 2px;
  color: #3e3e36;
  font-weight: 500;
  /* border: none; */
  border-radius: 6px;
  padding: 0.4rem;
  cursor: pointer;
}

.sign-out-btn:hover {
  background-color: var(--hover-btn-color);
}